.venv/
__pycache__/
.pytest_cache/
pytest-cache-files-*/
.idea/
.DS_Store

.env
node_modules/
cypress-realworld-app/

artifacts/
allure-results/
allure-report/
playwright-report/
test-results/
*.log
*.zip
*.trace

dist/
build/
.mypy_cache/
.ruff_cache/
.coverage
coverage.xml
